{% extends '_layout.html' %}

{% block content %}
    <div class="row">
    <form class="col s12" action="" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input name='name' placeholder="Username" id="username" type="text" class="validate">
          <label for="username">Username  </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Password" name='password' id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <button class="btn-large btn-full-width" type="submit">Login</button>
    </form>
  </div>

{% endblock %}