{% extends '_layout.html' %}

{% block content %}

    <div class="row container">

    <div class="col s12 m8 l12 right"></div>


    <ul class="collapsible popout" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="mdi-action-announcement"></i>Important information!!</div>

            <div class="collapsible-body"><p>Basic auth and relationships have been created.
                Also, it is only 5x5 at the moment.  Using 5x5 made it
                easy for me to test, additional workouts will be added in the future. </p></div>
        </li>
    </ul>

<!--    Should move the timer to a different javascript file and only include it
        on the workout page instead of having the div below -->
    <div id="time" hidden></div>
    


    <div class="section no-pad-bot" id="index-banner">
        <div class="card-panel">
            <div class="panel-content">
                <label><strong>Previous Workout: {% if prev_stats.workout_number == 0 %}</strong></label>
                <p>There are no previous stats! this is your first workout.</p>
                {% else %}
                {{ prev_stats.workout_a_or_b }} -
                    {{ prev_stats.workout_start_day.month }}/
                    {{ prev_stats.workout_start_day.day }}/
                    {{ prev_stats.workout_start_day.year }}</strong></label>
                {% if prev_stats.workout_a_or_b == "A" %}
                    <ul>
                        <li>
                            SQ: {{ prev_stats.squat }} at {{ prev_stats.squat_weight }}LB
                        </li>
                        <li>
                            BP: {{ prev_stats.bench }} at {{ prev_stats.bench_weight }}LB
                        </li>
                        <li>
                            Row: {{ prev_stats.row }} at {{prev_stats.row_weight }}LB
                        </li>
                    </ul>
                {% else %}
                    <ul>
                        <li>
                            SQ: {{ prev_stats.squat }} at {{ prev_stats.squat_weight }}LB
                        </li>
                        <li>
                            OHP: {{ prev_stats.press }} at {{ prev_stats.press_weight }}LB
                        </li>
                        <li>
                            DL: {{ prev_stats.deadlift }} at {{ prev_stats.deadlift_weight }}LB
                        </li>
                    </ul>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="card-panel">
            <div class="panel-content">
                {% if ongoing_workout %}
                    <label><strong>Continue Workout: {{ ongoing_workout.workout_a_b }}</strong></label>
                    <ul>
                        <li>
                                SQ: 5x5 at {{ ongoing_workout.squat_weight }}LB
                        </li>
                            {% if ongoing_workout.workout_a_b == "A" %}
                        <li>
                                BP: 5x5 at {{ ongoing_workout.bench_weight }}LB
                        </li>
                        <li>
                                Row: 5x5 at {{ ongoing_workout.row_weight }}LB
                        </li>
                            {% else %}
                        <li>
                                OHP: 5x5 at {{ ongoing_workout.press_weight }}LB
                        </li>
                        <li>
                                DL: 1x5 at {{ ongoing_workout.deadlift_weight }}LB
                        </li>
                            {% endif %}
                    </ul>
            </div>
            <form method="POST">
                <button class="btn-large btn-full-width" type="submit">GO!</button>
            </form>

                {% else %}
                <label><strong>Current Workout: {{ next_stats.workout_a_or_b }}</strong></label>
                {% if next_stats.workout_a_or_b == "A" %}
                    <ul>
                        <li>
                            SQ: 5x5  at {{ next_stats.squat_weight }}LB
                        </li>
                        <li>
                            BP: 5x5 at {{ next_stats.bench_weight }}LB
                        </li>
                        <li>
                            Row: 5x5 at {{ next_stats.row_weight }}LB
                        </li>
                    </ul>
                {% else %}
                    <ul>
                        <li>
                            SQ: 5x5 at {{ next_stats.squat_weight }}LB
                        </li>
                        <li>
                            OHP: 5x5 at {{ next_stats.press_weight }}LB
                        </li>
                        <li>
                            DL: 1x5 at {{ next_stats.deadlift_weight }}LB
                        </li>
                    </ul>
                {% endif %}
            </div>
            <form method="POST">
                <button class="btn-large btn-full-width" type="submit">GO!</button>
            </form>
            {% endif %}

        </div>
        <!-- <form method="POST">
          <button class="btn-large" type="submit">New Workout!</button>
        </form>
       -->
    </div>
{% endblock %}
